$header_color: #222222;
$body_color: #141414;
$header_navigation_hover_color: rgb(48, 48, 48);
$search_engine_color: #646464;
$search_engine_hover_color: #3f3f3f;
$calculation_blocks_color:#17027554;
$calculators_border_color:#0500184f;